## Cheat Sheet - http://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

### Exercício (https://github.com/lucasharada/Curso_Python)
------------------
1. Importe `numpy` como `np`
2. Importe `pandas` como `pd`
3. Ajuste o seed do `numpy` para `201`
4. Crie uma série `pandas` a partir de um vetor contendo 100 números aleatórios de 0 a 1
5. Dadas as séries abaixo:
    1. Calcule a **nota percentual** de cada **aluno** nas provas 1 e 2 em relação à **maior nota**
    2. Calcule a **nota normalizada** de cada **aluno** nas provas 1 e 2
6. Dado o dataframe `df1` abaixo:
    1. Calcule a **média** de cada **prova**
    2. Calcule a **média** de cada **aluno**
    3. Liste os alunos com nota em P2 **abaixo** da média
    4. Ordene o *dataframe* por P3
    5. Crie um nova coluna com a média do aluno
7. Dado o dataframe `df2` abaixo:
    1. Selecione as **linhas** sem `NaN`
    2. Selecione as **colunas** sem `NaN`
8. Dado o dataframe `df3` abaixo:
    1. Calcule o **erro médio** de cada **método**
    2. Calcule o **erro médio** de cada **cenário**

In [2]:
# 1 
# 2
import numpy as np
import pandas as pd

In [7]:
# 3
# 4
np.random.seed(201)
arr = np.random.random(100)
series = pd.Series(arr)
series

0     0.113905
1     0.747881
2     0.611059
3     0.809692
4     0.712857
5     0.140037
6     0.267512
7     0.147604
8     0.228068
9     0.235562
10    0.690024
11    0.148348
12    0.445606
13    0.700843
14    0.096639
15    0.882633
16    0.869832
17    0.844594
18    0.273702
19    0.785680
20    0.701136
21    0.494730
22    0.836337
23    0.404184
24    0.173223
25    0.365402
26    0.997089
27    0.340654
28    0.505380
29    0.539347
        ...
70    0.069135
71    0.864215
72    0.934835
73    0.498053
74    0.079400
75    0.667511
76    0.182622
77    0.447626
78    0.106429
79    0.196565
80    0.390680
81    0.742758
82    0.117910
83    0.480644
84    0.334931
85    0.107927
86    0.936396
87    0.809078
88    0.785483
89    0.013134
90    0.779030
91    0.332433
92    0.880418
93    0.458884
94    0.383134
95    0.503336
96    0.949152
97    0.012586
98    0.869552
99    0.458000
Length: 100, dtype: float64

In [18]:
# Séries para item (5)
serie1 = pd.Series(data=[5, 10, 9], index=['AL01', 'AL02', 'AL03'])
serie2 = pd.Series(data=[4, 6, 4], index=['AL01', 'AL02', 'AL03'])

maxSerie1 = serie1.max()
maxSerie2 = serie2.max()

print(serie1.apply(lambda x : x / maxSerie1), '\n')
print(serie2.apply(lambda x : x / maxSerie2))

AL01    0.5
AL02    1.0
AL03    0.9
dtype: float64

AL01    0.666667
AL02    1.000000
AL03    0.666667
dtype: float64

In [ ]:
# Dataframe para item (6)
np.random.seed(100)
dados = np.random.rand(5,3)*10
colunas = ['P1', 'P2', 'P3']
index = ['AL01', 'AL02', 'AL03', 'AL04', 'AL05']
df1 = pd.DataFrame(dados, index, colunas)

In [ ]:
# Dataframe para item (7)
df2 = pd.DataFrame({'A':[1,2,np.nan],'B':[2,4,np.nan],'C':[3,4,4],'D':[np.nan,1,2]})

In [ ]:
# Dataframe para item (8)
df3 = pd.DataFrame({
    'Metodo': ['KNN', 'SVR', 'ANN', 'KNN', 'SVR', 'ANN'],
    'Cenario': ['C1', 'C2', 'C1', 'C2', 'C1', 'C2'],
    'Erro': [2.1, 2.1, 1.5, 1.7, 1.8, 1.9]
})